{% extends 'layout.html' %}

{% block title %}Flight Records{% endblock %}

{% block content %}

<div class="col-lg-12">

<table class="table table-sm">
    <thead>
      <tr class="table btn-outline-primary">
        <th scope="col">ID</th>
        <th scope="col">Flight Departure</th>
        <th scope="col">Flight Arrival</th>
        <th scope="col">Flight Duration</th>
      </tr>
    </thead>
            {% for flights in flight_table %}
                <tbody>
                    <tr class="table btn-outline-success">
                        <th scope="row">{{ flights.id }}</th>
                        <td>{{ flights.departure }}</td>
                        <td>{{ flights.arrival }}</td>
                        <td>{{ flights.duration }} Minutes</td>
                    </tr>
                </tbody>
            {% endfor %}
</table>

</div>

{% endblock %}


